CarRentalSystemClient/CarRentalSystemClient/Connected Services/CarServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICarService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CarRentalSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarService_GetCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_AddCar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_AddCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_EditCar_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_EditCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_DeleteCar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_DeleteCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarName" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarsByModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByModel" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarsByModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByModelResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarsByFuelType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByFuelType" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarsByFuelType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByFuelTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarService">
    <wsdl:operation name="GetCars">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetCars" message="tns:ICarService_GetCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetCarsResponse" message="tns:ICarService_GetCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetCar" message="tns:ICarService_GetCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetCarResponse" message="tns:ICarService_GetCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/AddCar" message="tns:ICarService_AddCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/AddCarResponse" message="tns:ICarService_AddCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/EditCar" message="tns:ICarService_EditCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/EditCarResponse" message="tns:ICarService_EditCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/DeleteCar" message="tns:ICarService_DeleteCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/DeleteCarResponse" message="tns:ICarService_DeleteCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetCarName" message="tns:ICarService_GetCarName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetCarNameResponse" message="tns:ICarService_GetCarName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsByModel">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetCarsByModel" message="tns:ICarService_GetCarsByModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetCarsByModelResponse" message="tns:ICarService_GetCarsByModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsByFuelType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetCarsByFuelType" message="tns:ICarService_GetCarsByFuelType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetCarsByFuelTypeResponse" message="tns:ICarService_GetCarsByFuelType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICarService" type="tns:ICarService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICarService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetCars">
      <soap12:operation soapAction="http://tempuri.org/ICarService/GetCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap12:operation soapAction="http://tempuri.org/ICarService/GetCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <soap12:operation soapAction="http://tempuri.org/ICarService/AddCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCar">
      <soap12:operation soapAction="http://tempuri.org/ICarService/EditCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap12:operation soapAction="http://tempuri.org/ICarService/DeleteCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarName">
      <soap12:operation soapAction="http://tempuri.org/ICarService/GetCarName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByModel">
      <soap12:operation soapAction="http://tempuri.org/ICarService/GetCarsByModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByFuelType">
      <soap12:operation soapAction="http://tempuri.org/ICarService/GetCarsByFuelType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="NetTcpBinding_ICarService" binding="tns:NetTcpBinding_ICarService">
      <soap12:address location="net.tcp://localhost:8001/CarTcpBinding" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8001/CarTcpBinding</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-DISRME7M\VEDANGJOSHI</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>