CarRentalSystemClient/CarRentalSystemClient/Connected Services/UserServiceReference/CarRentalSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarRentalSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarRentalSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isadmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="middlename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>